.git
.gitignore
.gitattributes
.cache
*.md
*.example
LICENSE
logo.*
*.png
*.gif
*.jpg
*.bmpr
*.svg
*.sample
.env*
Dockerfile
docker-compose*
*.log
.ipynb_checkpoints
vector_db
embedding_models
vector_db