streamlit~=1.39.0
ollama~=0.3.3
llama-index
llama-index-llms-ollama
llama-index-embeddings-huggingface
pycryptodome
nbconvert
pyexiftool
llama-index-readers-web
html2text
streamlit-tags
streamlit-extras
black
#torch = { version, sys_platform = "!= 'darwin'" }
#colorama = { version, sys_platform = "== 'win32'" }
ebooklib
llama-index-core
loguru~=0.7.2
requests~=2.32.3
langchain~=0.3.3
numpy~=1.26.4
torch~=2.4.1
tqdm~=4.66.2
transformers~=4.45.2
tokenizers~=0.20.0