<style>
    header[data-testid='stHeader'] {
       visibility: hidden;
    }
    header[data-testid='stHeader'] {
      display:none;
    }
    .st-emotion-cache-1jicfl2{
        padding:0px 0rem;
    }
     hr{
        margin:0;
    }
    div[data-testid = "stSidebarHeader"]{
         background: url("/app/static/logo.png") no-repeat;
     }
    button[data-testid="stBaseButton-secondary"]{
        padding: 0.25rem 1rem;
    }
    div[data-testid="stMarkdownContainer"] > h4{
       border-bottom: 1px solid #d0e1e0;
        border-block-width: 3px;
        margin-bottom: 8px;
    }
    h2{
        padding: 0rem 0px;
        line-height: 1;
    }
    section[data-testid="stFileUploaderDropzone" ]{
        align-items: center !important;
    }

    label[data-testid="stWidgetLabel"]{
    width:80px;
    }
    section[data-testid="stSidebar"]{
        border-right: 1px solid #1ba2a0;
        background-color: rgb(236 245 245);
    }

    textarea[type="textarea"]{
       border: 1px solid #eee;
        border-radius: 10px;
        background: white;
    }
    div[data-testid="stSidebarUserContent"]{
            padding: 0px 1rem 0rem;
    }
    .stTextArea{
        display:flex;
    }
    .st-b6{
        font-size: 14px;
    }
    h1,h2,h3,h4 {
        font-size: 14px;
    }
    p,h6{
        font-size: 14px;
    }
    button[data-testid="baseButton-secondary"]{
       display: inline-flex;
        -webkit-box-align: center;
        align-items: center;
        -webkit-box-pack: center;
        justify-content: center;
        padding: 0.25rem 1.75rem;
        border-radius: 0.5rem;
        min-height: 2rem;
        margin: 0px;
        line-height: 1;
        width: auto;
        user-select: none;
        background-color: rgb(27 162 160);
        border: 1px solid rgba(49, 51, 63, 0.2);
        color: white;
        font-size: 14px;
        font-weight: normal;
    }
    button[data-testid="baseButton-secondary"]:hover{
      border:1px solid blue;
     color:yellow;
    }

    button[data-testid="baseButton-secondary"]:active{
          color: yellow;
        border-color: #cde709;
        background-color: rgb(27 162 160);
    }

    div[class^='st-emotion-cache']{
        opacity:1 !important;
    }

    div[data-testid="element-container"]{
        opacity:1;
    }
    button[data-testid="baseButton-secondary"]:focus:not(:active) {
        border:1px solid blue;
     color:yellow;
    }
    button[class^='st-emotion-cache']:focus:not(:active){
         border:1px solid blue;
     color:yellow;
    }
    div[data-testid="stVerticalBlockBorderWrapper"]:first-child{
        border:none;
    }
    section.main > div.block-container  > div > div > div > div > div > div > div > div > div > div:nth-child(2) {
       background: #ecf5f5;
    }
    section.main{
        border-right: 1px solid #40b7b5;
    }
</style>